/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

html, body, div, span, ul, h2, h4, p {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
